.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.flex-item {
    flex-basis: 25%;
    flex-grow: 0;
    flex-shrink: 1;
}
.img-fluid {
    max-width: 90%;
    width: 100%;
    display: block;
    margin: 10px auto;
    height: auto;
}
.p-rel {
    position: relative;
    margin: 0;
}
.p-rel img {
    max-width: 100%;
}
.p-ab {
    position: absolute;
    bottom: 0;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, .75);
    width: 100%;
    text-align: center;
}
.p-ab {
    visibility: hidden;
}
.p-rel:hover .p-ab {
    visibility: visible;
}
